.notificacion {
    text-decoration: none;
}
.dropdown-toggle::after {
    display: none;
  }

i.bx.bx-bell{
    font-size: large;
    color: black;
}

span.num {
    position: absolute;
    top: -8px;
    padding: 0px 7px;
    border-radius: 50%;
    background-color: red;
    color: white;
    text-decoration: none;
    margin-left: -3px;
}

.notificacion .dropdown-toggle{
    color: white;
}

.notificacion a{
    text-decoration: none;
    color: black;
}