  main {
    margin: 40px 0 !important;
  }
  
  p {
    margin: 0 !important
  }
  
  main .YouTube-container {
    padding: 15px;
    padding-bottom: 0 !important;
  }
  
  main iframe {
    display: inline-block;
    width: 100%;
    height: 300px;
    border: none;
  }
  
  main .video-player h2 {
    font-size: 18px;
    font-weight: bold;
  }
  
  main .video-player .desplegar {
    background: #EDF2F4;
    padding: 4px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s all ease;
  }
  
  main .video-player .desplegar:hover {
    background: #8D99AE;
  }
  
  main .video-player .description {
    padding: 5px 10px;
    font-size: 12px;
    color: #2B2D42;
    display: none;
  }
  
  .video-list img {
    display: inline-block;
    width: 100%;
  }
  
  .video-list h3 {
    font-size: 15px;
    font-weight: bold;
  }
  
  .video-list .description {
    font-size: 12px;
    color: #2B2D42;
  }
  
  .video-list .row > div {
    padding: 0;
  }
  
  .video-list .row {
    padding: 10px
  }
  
  .video-list .video-info {
    padding-left: 7px !important;
  }
  
  .video {
    border-bottom: 1px solid #ccc;
    cursor: pointer;
  }
  
  .video:hover {
    background: #f4f4f4;
  }

  @media (max-width: 1145px) {
    .video .description {
      display: inline-block;
      height: 90px;
      overflow: hidden;
    }
  }
  
  @media (max-width: 1090px) {
    iframe {
      height: 270px !important;
    }
  }
  
  @media (max-width: 770px) {
    .video .description {
      display: inline-block;
      height: 68px;
      overflow: hidden;
    }
  }
  
  @media (max-width: 720px) {
    iframe {
      height: 235px !important;
    }
  }
  
  @media (max-width: 500px) {
    iframe {
      height: 195px !important;
    }
  
    header input {
      width: 210px;
    }
  }